

<!-- background image -->
<div class="welcome-section">
  <div class="welcome-image">
    <%= image_tag "podiumZV.PNG", class:"intro-picture", style:"background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))"  %>
  </div>
  <div class="first-section">
  </div>
  <!-- div intermédiaire -->
  <div class="second-section">
    <div class="quote">“Storytelling is the most powerful way to put ideas into the world today.” <br><br>
    Robert McKee, Author</div>
  </div>
</div>


<!-- About -->
<div class="about">
  <div class="container">
    <div class="section-part" data-ix="scroll-appear">
      <div data-scroll="0.6" class="section-intro">
        <h2 id="about">ABOUT</h2>
          <div class="lines">
            <div class="line">
            </div>
          </div>
        </div>
      </div>

      <div class="intro">
        <div class="intro-id">
          <%= image_tag "id.png", alt:"My picture ", width:"400"  %>
        </div>

        <div class="intro-desc">

          <div class="main-text main-text--offset">
            <div class="main-text-text left-aligned">Sovana, Web Developer <br>& Retail Marketing specialist</div>
            <div class="main-text-line left-aligned"></div>
          </div>

          <div class="p-text">
            <span class="text">
              Hello, I'm Sovana!
              After more than 10 years of experience as a retail marketing & merchandising specialist for various companies in the cosmetics industry, I decided to broaden my skills to the digital world by attending Le Wagon bootcamp in January 2020, a 9-week full-time intensive bootcamp learning the fundamentals of coding and designing my very first apps.
              Based in Paris, I stay open to any new and exciting project in web design and in retail design.

            </span>
          </div>

          <div class="skills">
            <span class="text-skills">
              <b> Technical skills: </b> ruby, ruby on rails, html, css3, vanilla js, bootstrap, github, wordpress, illustrator, sketchup, photoshop
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
  <!-- Portfolio -->
<div class="portfolio" id="portfolio">
  <div class="container">
  <div class="section-part" data-ix="scroll-appear">
    <div data-scroll="0.6" class="section-intro">
      <h2>PORTFOLIO</h2>
      <div class="lines">
        <div class="line">
        </div>
      </div>
      <div class="intro-text-portfolio">
        A selection of my work as a marketing specialist and as a web developer
      </div>
      <!-- app/views/articles/index.html.erb -->
      <div class="section">
        <div class="portfolio-cards">
          <% @projects.each do |project| %>
            <div class="portfolio-card">
              <%= link_to project.url, target: "_blank" do %>
                <div class="portfolio-img">
                  <%= cl_image_tag project.photo.key, width: 648, crop: :fit %>
                </div>
                <div class="portfolio-intro">
                  <h6><%= project.name %></h6>
                  <p><%= project.project_type %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
</div>
  </div>
</div>
</div>

<% cl_image_tag "dfows62qxmsrgshv0hve", alt:"san francisco", width: 648, crop: :fit %>

  <!-- Contact -->
<div class="contact" id="contact">
  <div class="container">
  <div class="section-part" data-ix="scroll-appear">
    <div  data-scroll="0.6" class="section-intro">
      <h2>CONTACT</h2>
      <div class="lines">
        <div class="line-white">
        </div>
      </div>
      <a class="social-zoom" target="_blank" href="mailto:#">
        <i class="far fa-envelope fa-lg"> </i>
        Send me a message
      </a>
      </div>
    </div>

  </div>
</div>
</div>






